* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

section {
    margin: 8px 4px;
    padding: 8px;
    border-bottom: 1px solid #666;
}

article {
    margin: 4px 0;
    padding: 8px;
    border-bottom: 1px solid #aaa;
}

h1, h2, h3 {
    text-align: center;
    font-weight: 400;
}
