* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

/* HEADER */
.header {
  height: 135px;
  background: #f4f4f4;
  box-shadow: #d1d1d1 0 4px 4px;
  display: flex;
  align-items: flex-end;
}

.header__controls {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  position: relative;
}

.header__controls__button {
  padding: 6px 12px;
  background: #0271c7;
  color: #fff;
  text-shadow: #2d2d2d 0 2px;
  box-shadow: #d1d1d1 0 2px;
  margin: 4px;
}

.header__controls__search {
  margin-left: auto;
  position: relative;
}

.search__label {
  cursor: pointer;
}

.search__input {
  box-shadow: inset #d1d1d1 0 2px;
  border: #d1d1d1 1px solid;
  padding: 6px 12px;
  border-radius: 4px;
}

.search__input:focus {
  width: 350px;
}

.search__input:focus ~ .search__modal {
  width: 350px;
}

.search__modal {
  position: absolute;
  left: 25px;
  top: calc(100% + 12px);
  background: #fff;
  z-index: 10;
  width: 200px;
  height: 275px;
  box-shadow: #d1d1d1 0 0 4px;
  border-radius: 4px;
}

.search__modal::before {
  left: 100px;
}

.search__items {
  list-style: none;

  overflow-y: auto;
  height: calc(100% - 8px);
  margin-top: 4px;
}

.search__item {
  padding: 8px 8px;
  background: #fff;
  margin: 2px 8px;
  color: #000;
  cursor: pointer;
  border-bottom: 1px solid #EBEBEB;
}

.search__item:hover {
  color: #fff;
  background: #27a1ff;
}

.search__item__title {
  font-weight: bold;
}

.search__item__date {
  color: #666666;
  font-size: 14px;
}

.search__item:hover .search__item__date{
  color: #fff;
}

.addevent__button[aria-pressed="true"] {
  box-shadow: inset 0 0 1px 0 #000;
  background: #015da4;
  color: #c2d0e2;
}
/* HEADER */

/* MAIN */
.main__controls {
  margin-top: 16px;
  display: flex;
}

.main__controls__monthpicker {
  display: flex;
}

.main__controls__button,
.monthpicker__month {
  margin: 4px;
}

.main__controls__button {
  background: #fff;
  border: 1px #e7e7e7 solid;
  padding: 2px 6px;
}

.monthpicker__month {
  font-weight: 500;
}

/* MAIN */

/* HELPERS */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #7a7a7a;
}

/* HELPERS */
