* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

/* HEADER */
.header {
  height: 135px;
  background: #f4f4f4;
  box-shadow: #d1d1d1 0 4px 4px;
  display: flex;
  align-items: flex-end;
}

.header__controls {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  position: relative;
}

.header__controls__button {
  padding: 6px 12px;
  background: #0271c7;
  color: #fff;
  text-shadow: #2d2d2d 0 2px;
  box-shadow: #d1d1d1 0 2px;
  margin: 4px;
}

.header__controls__search {
  margin-left: auto;
}

.search__input {
  box-shadow: inset #d1d1d1 0 2px;
  border: #d1d1d1 1px solid;
  padding: 6px 12px;
  border-radius: 4px;
}

.addevent__button[aria-pressed="true"] {
  box-shadow: inset 0 0 1px 0 #000;
  background: #015da4;
  color: #c2d0e2;
}
/* HEADER */

/* MAIN */
.main__controls {
  margin-top: 16px;
  display: flex;
}

.main__controls__monthpicker {
  display: flex;
}

.main__controls__button,
.monthpicker__month {
  margin: 4px;
}

.main__controls__button {
  background: #fff;
  border: 1px #e7e7e7 solid;
  padding: 2px 6px;
}

.monthpicker__month {
  font-weight: 500;
}

/* MAIN */
