.schedule-container {
  overflow-x: auto;
  position: relative;
  padding-top: 8px;
}

.schedule-container::-webkit-scrollbar {
  height: 10px;
}

.schedule {
  width: 100%;
  margin-top: 12px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #f1f1f1;
}

.schedule__cell {
  position: relative;
  color: #acacac;
  vertical-align: top;
  border: 1px solid #f1f1f1;
  width: calc(100% / 7);
  min-width: 125px;
  height: 150px;
  padding: 8px;
  overflow-y: hidden;
}

.schedule__cell--today {
  background: #f4f4f4;
}

.schedule__cell--today .schedule__cell__day {
  font-weight: bold;
}

.schedule__cell--with-events {
  background: #c2e4fe;
}

.cell__event {
  margin: 4px 0;
  color: #666;
}

.cell__events {
  list-style: none;

  overflow: auto;
  height: calc(100% - 24px);
  margin-top: 4px;
}

.cell__events::-webkit-scrollbar {
  width: 6px;
}

.cell__event__title {
  font-weight: bold;
}

.cell__event__participants {
  font-size: 14px;
}

.schedule__cell__add {
  position: absolute;
  top: 2px;
  right: 2px;
  color: #666;
  font-size: 14px;
  border: 1px solid #ccc;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 4px;
  background: transparent;
  line-height: 1;
  cursor: pointer;
}
